# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

node_modules/

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Environment variables
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log
